<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.liangshuyi.lotterysystem.mapper.UserMapper">
 
  <select id="selectByNameAndPassword" parameterType="User" resultType="User">
  	select * from T_USER
  </select>
  <sql id="selectUser">
  	<where>
  		<if test="User !=null">
  			<if test="User.username !=null and User.username != ''">
  				AND username = #{User.username}
  			</if>
  			<if test="User.password != null and User.password != ''">
  				AND password = #{User.password}
  			</if>
  		
  		</if>
  	</where>
  
  
  </sql>
  
</mapper>