<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.liangshuyi.lotterysystem.mapper.TMelodyMapper" >
  <resultMap id="BaseResultMap" type="pers.liangshuyi.lotterysystem.po.TMelody" >
    <id column="melodyid" property="melodyid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="melodyname" property="melodyname" jdbcType="VARCHAR" />
    <result column="melodytype" property="melodytype" jdbcType="VARCHAR" />
    <result column="intergralval" property="intergralval" jdbcType="INTEGER" />
    <result column="clickid" property="clickid" jdbcType="VARCHAR" />
    <result column="lyricid" property="lyricid" jdbcType="VARCHAR" />
    <result column="songid" property="songid" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="TIME" />
    <result column="clicknum" property="clicknum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    melodyid, userid, melodyname, melodytype, intergralval, clickid, lyricid, songid, 
    TIME, clicknum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pers.liangshuyi.lotterysystem.po.TMelodyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_melody
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_melody
    where melodyid = #{melodyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_melody
    where melodyid = #{melodyid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pers.liangshuyi.lotterysystem.po.TMelodyExample" >
    delete from t_melody
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.liangshuyi.lotterysystem.po.TMelody" >
    insert into t_melody (melodyid, userid, melodyname, 
      melodytype, intergralval, clickid, 
      lyricid, songid, TIME, 
      clicknum)
    values (#{melodyid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{melodyname,jdbcType=VARCHAR}, 
      #{melodytype,jdbcType=VARCHAR}, #{intergralval,jdbcType=INTEGER}, #{clickid,jdbcType=VARCHAR}, 
      #{lyricid,jdbcType=VARCHAR}, #{songid,jdbcType=VARCHAR}, #{time,jdbcType=TIME}, 
      #{clicknum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pers.liangshuyi.lotterysystem.po.TMelody" >
    insert into t_melody
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="melodyid != null" >
        melodyid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="melodyname != null" >
        melodyname,
      </if>
      <if test="melodytype != null" >
        melodytype,
      </if>
      <if test="intergralval != null" >
        intergralval,
      </if>
      <if test="clickid != null" >
        clickid,
      </if>
      <if test="lyricid != null" >
        lyricid,
      </if>
      <if test="songid != null" >
        songid,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="clicknum != null" >
        clicknum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="melodyid != null" >
        #{melodyid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="melodyname != null" >
        #{melodyname,jdbcType=VARCHAR},
      </if>
      <if test="melodytype != null" >
        #{melodytype,jdbcType=VARCHAR},
      </if>
      <if test="intergralval != null" >
        #{intergralval,jdbcType=INTEGER},
      </if>
      <if test="clickid != null" >
        #{clickid,jdbcType=VARCHAR},
      </if>
      <if test="lyricid != null" >
        #{lyricid,jdbcType=VARCHAR},
      </if>
      <if test="songid != null" >
        #{songid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIME},
      </if>
      <if test="clicknum != null" >
        #{clicknum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.liangshuyi.lotterysystem.po.TMelodyExample" resultType="java.lang.Integer" >
    select count(*) from t_melody
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_melody
    <set >
      <if test="record.melodyid != null" >
        melodyid = #{record.melodyid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.melodyname != null" >
        melodyname = #{record.melodyname,jdbcType=VARCHAR},
      </if>
      <if test="record.melodytype != null" >
        melodytype = #{record.melodytype,jdbcType=VARCHAR},
      </if>
      <if test="record.intergralval != null" >
        intergralval = #{record.intergralval,jdbcType=INTEGER},
      </if>
      <if test="record.clickid != null" >
        clickid = #{record.clickid,jdbcType=VARCHAR},
      </if>
      <if test="record.lyricid != null" >
        lyricid = #{record.lyricid,jdbcType=VARCHAR},
      </if>
      <if test="record.songid != null" >
        songid = #{record.songid,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        TIME = #{record.time,jdbcType=TIME},
      </if>
      <if test="record.clicknum != null" >
        clicknum = #{record.clicknum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_melody
    set melodyid = #{record.melodyid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      melodyname = #{record.melodyname,jdbcType=VARCHAR},
      melodytype = #{record.melodytype,jdbcType=VARCHAR},
      intergralval = #{record.intergralval,jdbcType=INTEGER},
      clickid = #{record.clickid,jdbcType=VARCHAR},
      lyricid = #{record.lyricid,jdbcType=VARCHAR},
      songid = #{record.songid,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=TIME},
      clicknum = #{record.clicknum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.liangshuyi.lotterysystem.po.TMelody" >
    update t_melody
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="melodyname != null" >
        melodyname = #{melodyname,jdbcType=VARCHAR},
      </if>
      <if test="melodytype != null" >
        melodytype = #{melodytype,jdbcType=VARCHAR},
      </if>
      <if test="intergralval != null" >
        intergralval = #{intergralval,jdbcType=INTEGER},
      </if>
      <if test="clickid != null" >
        clickid = #{clickid,jdbcType=VARCHAR},
      </if>
      <if test="lyricid != null" >
        lyricid = #{lyricid,jdbcType=VARCHAR},
      </if>
      <if test="songid != null" >
        songid = #{songid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=TIME},
      </if>
      <if test="clicknum != null" >
        clicknum = #{clicknum,jdbcType=INTEGER},
      </if>
    </set>
    where melodyid = #{melodyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.liangshuyi.lotterysystem.po.TMelody" >
    update t_melody
    set userid = #{userid,jdbcType=VARCHAR},
      melodyname = #{melodyname,jdbcType=VARCHAR},
      melodytype = #{melodytype,jdbcType=VARCHAR},
      intergralval = #{intergralval,jdbcType=INTEGER},
      clickid = #{clickid,jdbcType=VARCHAR},
      lyricid = #{lyricid,jdbcType=VARCHAR},
      songid = #{songid,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=TIME},
      clicknum = #{clicknum,jdbcType=INTEGER}
    where melodyid = #{melodyid,jdbcType=VARCHAR}
  </update>
</mapper>